body {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.imgur.com/Isu4DMl.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
}



.counter {
  height: 150px;
  width: 300px;
  background-color: teal;
  color: lavender;
  border: 10px solid lavender;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

button {
  height: 30px;
  width: 100px;
  font-size: 16px;
  color: lavender;
  background-color: darkgrey;
}

button:hover {
  color: darkgrey;
  background-color: lavender;
}