body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/Isu4DMl.jpg");
  background-position: center;
  background-size: cover;
  margin: 100px auto;
}

.counter {
  background-color: rgb(18, 70, 70);
  color: lavender;
  border: 10px solid lavender;
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
  font-size: 16px;
  color: rgb(18, 70, 70);
  padding: 8px; 
  background-color: darkgrey;
}

button:hover {
  color: teal;
  background-color: lavender;
}